.git
.gitignore
.github
.next
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.*
!.env.example

.cursor
.agents
coverage
dist
build
README.md
Dockerfile
docker-compose*.yml
docker-compose*.yaml